.navbar
{
	background-color: initial;
	border: initial;
}

.navbar-brand
{
	width: 50px;
	height: 50px;
	padding: 10px;
}

.center
{
	text-align: center;
}

.font-lato
{
	font-family: 'Lato', sans-serif;
}

.navbar > .nav > li > a
{
	color: #868686
}

.navbar > .nav > li > a:hover 
{
	color: white;
	background-color: #ffbb42;
	border-radius: 1px;
}