.navbar {
	background-color: initial;
	border: initial;
}

.navbar-brand {
	width: 50px;
	height: 50px;
	padding: 10px;
}

#banner {
	background-color: #709dca;
}

#banner-h1 {
	margin-top: 0px;
	padding-top: 75px;
	font-size: 30px;
	margin-bottom: 0px;
}

#banner-form {
	margin-bottom: 85px;
}

.input-group-addon {
	background-color: white;
}

.no-border-left {
	border-left: 0px;
}

#banner-form-btn {
	background-color: #ffbb42;
	border-radius: 6px;
	border-color: #ffbb42;
	height: 46px;
	width: 211px;
	text-align: center;
}

#carousel {
	margin-left: 15%;
	margin-right: 15%;
	z-index: 1;
}

.carousel-indicators {
	position: relative;
	top: 394px;
	bottom: 0;
	left: 0;
	width: initial;
	padding-left: initial;
	margin-left: 0px;
	text-align: center;
}

.carousel-indicators li {
	border: 3px solid #dedfe0;
}

.carousel-indicators .active {
	border-color: #1ca8dd;
}

.carousel-inner {
	width: 445px;
	height: 264px;
}

.carousel-inner > .item > img {
	width: 445px;
	height: 264px;
}

.carousel-control {
	background-image: none;
	opacity: 1;
	text-shadow: none;
	height: 20px;
}

.carousel-control.left {
	background-image: none;
	text-align: right;
	top: 137px;
	bottom: 137px;
	left: -108px;
	right: 108px;
}

.carousel-control.right {
	background-image: none;
	text-align: left;
	top: 137px;
	bottom: 137px;
	left: 496px;
	right: -496px;
}

#img-laptop {
	margin: 0 15%;
	position: relative;
	top: -282px;
	bottom: 282px;
	left: -102px;
	right: 102px;
}

#services > .row:last-child {
	margin-bottom: 75px;
}

#about-us {
	padding: 0px;
}

#about-us-Grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#about-usImg {
	width: 100%;
}

#about-usText {
	background-color: #ffc154;
}

#about-usText > .container-fluid {
	padding-top: 90px;
}

#about-usText > .container-fluid > .col-xs-10 > form > button {
	background-color: #ffc154;
	border-radius: 6px;
	border-color: #f2b74f;
	padding: 9px 16px;
}

#pricing-table {
	background-color: #e6edf3;
}

#pricing-table > h2 {
	margin-top: 75px;
	margin-bottom: 0px;
}

#pricing-table > p {
	margin-bottom: 29px;
}

#pricing-table > div {
	margin-bottom: 90px
}

#pricing-table-Grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#pricing-table-Grid > div > span > span {
	font-size: 25px;
	margin-bottom: 0px;
	color: #fcba40;
	font-weight: bold;
}

#pricing-table-Grid > #premiumPlan > span > span {
	color: #fff;
}

#pricing-table-Grid > div > span > span > p {
	display: inline;
	color: #fcba40;
	font-size: 19px;
	position: relative;
	top: -9px;
	bottom: 9px;
	font-weight: normal;
}

#pricing-table-Grid > #premiumPlan > span > span > p {
	color: #fff;
}

#pricing-table-Grid > div > .firstP {
	border-top: 0px none transparent;
	padding: 0 0 17px 0;
}

#pricing-table-Grid > div > form > button {
	background-color: #ffb93f;
	border: 0px;
	margin-top: 19px;
}

#pricing-table-Grid > #basicPlan > form > button {
	margin-bottom: 26px;
}

#basicPlan , #goldPlan {
	margin: 17px 0px;
	background-color: white;
}

#basicPlan > h3 , #goldPlan > h3 {
	margin-top: 31px;
}

#basicPlan > p , #goldPlan > p {
	border-top: 2px solid #f3f7fa;
	margin: 0 16px;
	padding: 8px 0px 7px 0px;
}

#premiumPlan {
	background-color: #719dca;
}

#premiumPlan > h3 {
	margin-top: 48px;
}

#premiumPlan > p {
	border-top: 2px solid #79a6d0;
	margin: 0 16px;
	padding: 8px 0px 7px 0px;
}

.bold {
	font-weight: bold;
}

.color-white {
	color: white;
}

.center {
	text-align: center;
}

.font-gothamBlack {
	font-family: 'Gotham-Black', sans-serif;
}

.font-lato {
	font-family: 'Lato', sans-serif;
}

.font-openSans {
	font-family: 'Open Sans';
}

.navbar > .nav > li > a {
	color: #868686
}

.navbar > .nav > li > a:hover {
	color: white;
	background-color: #ffbb42;
	border-radius: 1px;
}